/* amita-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Amita";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/amita-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* amita-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Amita";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/amita-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ! ---------------------- Global ----------------------- */

* {
  margin: 0;
  padding: 0;
}

/* ! ---------------------- Header ----------------------- */
/* ---------------- Mobile First (styles de base pour mobile) -------------------- */

header {
  background-color: #c779ff73;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  transform: rotate(25deg);
}

h1 {
  font-family: "Amita", cursive;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.cartBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  font-size: 0;
  gap: 0;
  background-color: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  cursor: pointer;
}

.cartBtn i {
  position: static;
  transform: none;
  font-size: 20px;
}


footer{
    background-color: #c779ff73;
}

.footer-container {
  display: flex;
  justify-content: space-around; 
  align-items: center;
}

.footer-links {
  padding: 15px;
}

.footer-links a {
  text-decoration: none;
  color: #000;
  display: flex;
  font-size: 12px;
}

footer p {
 font-size: 12px;
}


/* ------------------- Page cart ----------------------- */

.cart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh ;
}

.title-cart{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.area-product{
margin-left: 55px;
margin-right: 55px;
}

.imgPanier{
  display: flex;
  justify-content: center;
  object-fit: cover;
  border-bottom:solid #c779ff73 ;
}

.containerProduct{
  display: flex;
  flex-direction: column;
  border:solid #c779ff73;
  border-radius: 10px;
  margin: 10px;
}

.info-product{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FDECDA;
}

.info{
  width: 50%;
  margin: 5px;
}

.btn-trash{
  border: none;
  cursor: pointer;
}

.backIndex{
  display: flex;
  justify-content: center;
}

.btnQuantite{
    border: none;
     background-color: #c779ff73;
     width: 50px;
     height: 30px;
     border-radius: 20px;
     text-align: center;
     
}

.btnBackIndex , .btnValider{
  border: none;
  background-color: #c779ff73;
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
}


.btnValider{
  height: 30px;
  width: 100px;
}

.displayProduct{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.displayP{
  background-color:#FDECDA ;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}

.produit, .livraison{
  display: flex;
  justify-content: space-between;
}

.total{
  display: flex;
  font-size: 20px;
  margin-top: 10px;
  justify-content: space-between;
}






/* ---------------- Version Desktop (écrans plus grands) -------------------- */

@media (min-width: 601px) {
  
  .cartBtn {
    height: 25px;
    width: auto;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 16px;
    gap: 20px;
  }

  .title-cart{
    font-size: 40px;
    margin-bottom: 30px;
  }
  
    .content-cart {
    display: flex;
    align-items: center;
  }

  .area-product {
    flex: 1;
    margin-left: 100px;
  }

  /* Produits en row */
  .containerProduct {
    flex-direction: row;
    align-items: center;
  }

  .imgPanier {
    flex: 1;
    border-bottom: none;
    border-right: solid #c779ff73; ;
  }

  .info-product {
    flex: 2;
    background-color: #FDECDA;
    padding: 10px;
    height: 150px;
  }

  .btnBackIndex{
    height: 40px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 50px;
  }

  .area-prix {
    flex: 1;
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
  }

  .displayProduct {
    flex-direction: column;
    gap: 15px;
  }

  .displayP{
    height: 150px;
  }

  .btnValider {
    align-self: center;
    height: 40px;
    width: 150px;
    font-size: 25px;
  }

  .btnQuantite{
  border-radius: 5px;
}


  .produit, .livraison{
    font-size: 25px;
    margin-left:10px ;
    margin-right:10px ;
  }

  .total{
    font-size: 35px;
    margin-left:10px ;
    margin-right:10px ;
    margin-top: 50px;
  }

}


